<div class="col">
  <strong>How to use the Nashville Numbers:</strong>
  <br /> Click the note that is the root for the song (what `
  <em>key</em>` is the song in?)
</div>



<app-nash-your-numbers [nashNumbers]="nashNumbers" [p]="this"></app-nash-your-numbers>

<hr />
<div class="col-md-6" [ngClass]="{'d-none': nashNumbers.getNote(1)==''}">

  <button class="btn btn-sm btn-outline-danger form-control" (click)="clearRoot()">* Clear Selection *</button>
</div>

<div class="row">

  <div class="table-responsive">
    <table class="table table-dark table-sm text-center">
      <thead>
        <tr>
          <th scope="col" *ngFor="let m of fretboard.markers; let i=index">
            <app-fretboard-marker [m]="m" [i]="i"></app-fretboard-marker>
          </th>
        </tr>
      </thead>


      <tbody>
        <tr *ngFor="let str of bs.filterStrings(fretboard.strings, bassStrings).reverse()">
          <td *ngFor="let note of str.notes; let i = index" style="border-right-style: ridge; border-right-color:darkgoldenrod;" [ngStyle]="{'border-right-width':i==0 ? '8px': '3px'}">
            <app-fretboard-fret [s]="str" [note]="note" [fbc]="this" [i]="index"></app-fretboard-fret>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th scope="col" *ngFor="let m of fretboard.markers; let i=index">
            <app-fretboard-marker [m]="m" [i]="i"></app-fretboard-marker>
          </th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>

<app-nash-legend [p]="this"></app-nash-legend>