<table class="table table-responsive-sm table-dark table-sm text-center " id="legend" style="max-width: 300px; font-family: 'Times New Roman', Times, serif;">
  <tbody>
    <tr>
      <td style="border-right-width: 1px; border-right-style: solid; border-right-color: goldenrod;">
        <button type="button" style="min-width: 50px;" class="btn btn-outline-secondary">ii
          <span [ngClass]="bs.getNashNumberBadgeClassByNum(2)">2m</span>
        </button>
      </td>
      <td style="border-right-width: 1px; border-right-style: solid; border-right-color: goldenrod;">
        <button type="button" style="min-width: 50px;" class="btn btn-dark">&nbsp;</button>
      </td>
      <td style="border-right-width: 1px; border-right-style: solid; border-right-color: goldenrod;">
        <button type="button" style="min-width: 50px;" class="btn btn-outline-info">iii
          <span [ngClass]="bs.getNashNumberBadgeClassByNum(3)">3m</span>
        </button>
      </td>
      <td style="border-right-width: 1px; border-right-style: solid; border-right-color: goldenrod;">
        <button type="button" style="min-width: 50px;" class="btn btn-outline-success">IV
          <span [ngClass]="bs.getNashNumberBadgeClassByNum(4)">4</span>
        </button>
      </td>
      <td style="border-right-width: 1px; border-right-style: solid; border-right-color: goldenrod;">
        <button type="button" style="min-width: 50px;" class="btn btn-dark">&nbsp;</button>
      </td>
      <td style="border-right-width: 1px; border-right-style: solid; border-right-color: goldenrod;">
        <button type="button" style="min-width: 50px;" class="btn btn-outline-warning">V
          <span [ngClass]=" bs.getNashNumberBadgeClassByNum(5)">5</span>
        </button>
      </td>
      <td style="border-right-width: 1px; border-right-style: solid; border-right-color: goldenrod;">
        <button type="button" style="min-width: 50px;" class="btn btn-dark">&nbsp;</button>
      </td>
      <td>
        <button type="button" style="min-width: 50px;" class="btn btn-outline-danger">vi
          <span [ngClass]=" bs.getNashNumberBadgeClassByNum(6)">6m</span>
        </button>
      </td>
    </tr>
    <tr>
      <td style="border-right-width: 1px; border-right-style: solid; border-right-color: goldenrod;">
        <button type="button" style="min-width: 50px;" class="btn btn-outline-danger">vi
          <span [ngClass]=" bs.getNashNumberBadgeClassByNum(6)">6m</span>
        </button>
      </td>
      <td style="border-right-width: 1px; border-right-style: solid; border-right-color: goldenrod;">
        <button type="button" style="min-width: 50px;" class="btn btn-dark">&nbsp;</button>
      </td>
      <td style="border-right-width: 1px; border-right-style: solid; border-right-color: goldenrod;">
        <button type="button" style="min-width: 50px;" class="btn btn-outline-light">vii&deg;
          <span [ngClass]=" bs.getNashNumberBadgeClassByNum(7)">7&deg;</span>
        </button>
      </td>
      <td style="border-right-width: 1px; border-right-style: solid; border-right-color: goldenrod;">
        <button type="button" style="min-width: 50px;" class="btn btn-primary">I
          <span [ngClass]=" bs.getNashNumberBadgeClassByNum(1)">1</span>
        </button>
      </td>
      <td style="border-right-width: 1px; border-right-style: solid; border-right-color: goldenrod;">
        <button type="button" style="min-width: 50px;" class="btn btn-dark">&nbsp;</button>
      </td>
      <td style="border-right-width: 1px; border-right-style: solid; border-right-color: goldenrod;">
        <button type="button" style="min-width: 50px;" class="btn btn-outline-secondary">ii
          <span [ngClass]=" bs.getNashNumberBadgeClassByNum(2)">2m</span>
        </button>
      </td>
      <td style="border-right-width: 1px; border-right-style: solid; border-right-color: goldenrod;">
        <button type="button" style="min-width: 50px;" class="btn btn-dark">&nbsp;</button>
      </td>
      <td>
        <button type="button" style="min-width: 50px;" class="btn btn-outline-info">iii
          <span [ngClass]=" bs.getNashNumberBadgeClassByNum(3)">3m</span>
        </button>
      </td>
    </tr>
    <tr>
      <td style="border-right-width: 1px; border-right-style: solid; border-right-color: goldenrod;">
        <button type="button" style="min-width: 50px;" class="btn btn-outline-info">iii
          <span [ngClass]=" bs.getNashNumberBadgeClassByNum(3)">3m</span>
        </button>
      </td>
      <td style="border-right-width: 1px; border-right-style: solid; border-right-color: goldenrod;">
        <button type="button" style="min-width: 50px;" class="btn btn-outline-success">IV
          <span [ngClass]=" bs.getNashNumberBadgeClassByNum(4)">4</span>
        </button>
      </td>
      <td style="border-right-width: 1px; border-right-style: solid; border-right-color: goldenrod;">
        <button type="button" style="min-width: 50px;" class="btn btn-dark">&nbsp;</button>
      </td>
      <td style="border-right-width: 1px; border-right-style: solid; border-right-color: goldenrod;">
        <button type="button" style="min-width: 50px;" class="btn btn-outline-warning">V
          <span [ngClass]=" bs.getNashNumberBadgeClassByNum(5)">5</span>
        </button>
      </td>
      <td style="border-right-width: 1px; border-right-style: solid; border-right-color: goldenrod;">
        <button type="button" style="min-width: 50px;" class="btn btn-dark">&nbsp;</button>
      </td>
      <td style="border-right-width: 1px; border-right-style: solid; border-right-color: goldenrod;">
        <button type="button" style="min-width: 50px;" class="btn btn-outline-danger">vi
          <span [ngClass]=" bs.getNashNumberBadgeClassByNum(6)">6m</span>
        </button>
      </td>
      <td style="border-right-width: 1px; border-right-style: solid; border-right-color: goldenrod;">
        <button type="button" style="min-width: 50px;" class="btn btn-dark">&nbsp;</button>
      </td>
      <td>
        <button type="button" style="min-width: 50px;" class="btn btn-outline-light">vii&deg;
          <span [ngClass]=" bs.getNashNumberBadgeClassByNum(7)">7&deg;</span>
        </button>
      </td>
    </tr>
  </tbody>
</table>