<p>
  This demo shows the ability to change BPM dynamically during a click-track.</p>
<p>
  <strong>Instructions: </strong> Set your starting temp using the slider or number entry field. Set your time signature. Edit your
  rules. Then Start the demo.
</p>

<div class="row">
  <div class="col-8">
    <form>
      <div class="row">
        <div class="col">
          <label for="formControlRange">
            <strong>TEMPO (B.P.M.)</strong>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-9">
          <input type="range" name="tempo" class="form-control-range" min="15" max="500" id="formControlRange" 
          [(ngModel)]="metro.tempo">
        </div>
        <div class="col">
          <input type="number" name="tempo2" placeholder="BPM" class="form-control form-control-sm" 
          [(ngModel)]="metro.tempo" min="15"
            max="500">
        </div>
      </div>
      <app-tap-click></app-tap-click>

    </form>

    <hr />
    <div class="row">
      <div class="col">
        <h5>Tempo Change Rules</h5>
        <button type="button" name="editorModal" class="btn btn-primary float-right" data-toggle="modal"
          data-target=".bd-example-modal-lg">Edit Rules</button>
        <p>Below is displayed the time-based rules to enact (if any). Click the 'Edit Rules' button to delete, change or create
          new rules.</p>
        <p>An icon on each rule indicates if the rule is yet to be run
          <i class="fas fa-clock text-warning"></i> or if it's already been enacted
          <i class="fas fa-check text-success"></i>.</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <ul class="list-group list-group-flush">
          <li class="list-group-item d-flex justify-content-between align-items-center" 
          *ngFor="let tempochange of getOrderedTempoChanges()">
            After {{tempochange.afterMeasure}} measures, change the tempo to {{tempochange.changeTempo}} bpm.
            <span class="badge badge-dark badge-pill">
              <i class="fas fa-clock text-warning" *ngIf="!tempochange.done"></i>
              <i class="fas fa-check text-success" *ngIf="tempochange.done"></i>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">

      <div class="card-body">
        <h5 class="card-title">TRY IT</h5>
        <p class="card-text">You can pause to keep your settings, but clicking STOP will reset the elapsed measures count.</p>
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn  btn-success " [ngClass]="{'disabled': metro.timerStarted}" (click)="clickService.startTimer(metro.tempo)">
            <i class="fas fa-play"></i>
          </button>
          <button type="button" class="btn  btn-warning" (click)="clickService.pauseTimer()" [ngClass]="{'disabled': !metro.timerStarted}">
            <i class="fas fa-pause"></i>
          </button>
          <button type="button" class="btn  btn-danger" (click)="clickService.stopTimer()" [ngClass]="{'disabled': !metro.timerStarted}">
            <i class="fas fa-stop"></i>
          </button>
          
        </div>
        
<app-red-light></app-red-light>
        <div class="row">
            <div class="col">
              <Label for="formControlSignature">
                <strong>Time Signature (beats / measure)</strong>
              </Label>
            </div>
          </div>
          <div class="row">
            <div class="col">
    
              <input type="number" name="signature0" class="form-control form-control-md" min="3" max="8" [(ngModel)]="metro.timesignature[0]">
            </div>
            <div class="col-1"> / </div>
            <div class="col">
              <input type="number" name="signature1" class="form-control form-control-md" min="3" max="8" [(ngModel)]="metro.timesignature[1]">
            </div>
          </div>
    


        <hr />
        <p class="card-text">
          <strong>
            Beat
            <span class="text-info">{{clickService.currentBeat}}</span>
          </strong> /
          <strong>Measure
            <span class="text-info">{{clickService.currentMeasure}}</span>
          </strong>
        </p>
        <p class="card-text">
          <strong>Total Esapsed Measures:
            <span class="text-info">{{clickService.measuresElapsed}}</span>
          </strong>
        </p>
      </div>
    </div>
  </div>
</div>

<br>

<div class="col" hidden>
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-success " (click)="clickService.fadeIn()">
      <i class="fas fa-play"></i> fade in</button>
    <button type="button" class="btn btn-warning" (click)="clickService.fadeOut()">
      <i class="fas fa-pause"></i> fade out</button>
    <button type="button" class="btn btn-danger" (click)="clickService.clearStyle()">
      <i class="fas fa-stop"></i> clear</button>
  </div>
</div>
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit The Tempo Change Rules</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          <strong>Instructions:</strong>
        </p>
        <p>After Measure [ # ] ... Set BMP To [ # ]</p>
        <div class="col"></div>
        <div class="col"></div>


        <div class="col-6-sm" *ngFor="let tempochange of clickService.tempoChanges">
          <form>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <input type="checkbox" aria-label="Checkbox for following text input" [(ngModel)]="tempochange.done" [id]="isDone" hidden
                    [ngModelOptions]="{standalone:true}">
                  <i class="fas fa-clock text-warning" *ngIf="!tempochange.done"></i>
                  <i class="fas fa-check text-success" *ngIf="tempochange.done"></i>
                </div>
              </div>
              <input type="number" name="afterMeasure" [(ngModel)]="tempochange.afterMeasure" class="form-control " [ngModelOptions]="{standalone:true}">
              <input type="number" name="changeTempo" min="60" max="200" [(ngModel)]="tempochange.changeTempo" class="form-control " [ngModelOptions]="{standalone:true}">
              <div class="input-group-append">
                <button type="button" (click)="deleteRule(tempochange)" class="btn btn-sm btn-danger">X</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="addNewRule()">New Row</button>
      </div>
    </div>
  </div>
</div>