<p>
  <strong>
    <i>{{voice.name}}</i>
  </strong>
</p>
<div class="table-responsive">
  <table class="table table-dark table-sm text-center">
    <thead>
      <tr>
        <th scope="col" *ngFor="let m of fretboard.markers; let i=index">
          <app-fretboard-marker [m]="m" [i]="i"></app-fretboard-marker>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let str of bs.filterStrings(fretboard.strings, 4).reverse()">

        <td *ngFor="let note of str.notes; index as n; first as isFirst" style="border-right-style: ridge; border-right-color:darkgoldenrod;" [ngStyle]="{'border-right-width':n==0 ? '8px': '3px'}">

          <ng-container *ngIf="isFirst; then openStringTemplate; else notOpenStrTemplate"> </ng-container>
          <ng-template #openStringTemplate>
            <button type="button" style="min-width: 50px;" class="btn btn-dark">
              {{str.open}}
            </button>
          </ng-template>
          <ng-template #notOpenStrTemplate>

            <ng-container *ngIf="isChordNote(voice, str.open, n); then isChordNoteTemplate; else notChordNoteTemplate"></ng-container>
            <ng-template #isChordNoteTemplate>
              <input type="hidden" ng-model="let cb = getChordBlock(voice, str.open, n)">
              <button type="button" style="min-width: 50px;" class="btn "
                      [ngClass]="getChordBlockClass(getChordBlock(voice, str.open, n))">
                <span>
                  {{getChordBlock(voice, str.open, n).note}}
                  <span class="badge badge-pill badge-dark">{{getChordBlock(voice, str.open, n).finger}}</span>
                </span>
              </button>
            </ng-template>
            <ng-template #notChordNoteTemplate>

              <button type="button" style="min-width: 50px;"
                      class="btn btn-dark">
                &nbsp;
              </button>
            </ng-template>
          </ng-template>

        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th scope="col" *ngFor="let m of fretboard.markers; let i=index">
          <app-fretboard-marker [m]="m" [i]="i"></app-fretboard-marker>
        </th>
      </tr>
    </tfoot>
  </table>
</div>
