<div class="row">
  <div class="col-12">

    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">

      <div class="my-3 py-3">
        <h2 class="display-5">Chords on Bass</h2>
        <p class="lead">Where should we use chords on bass?</p>
        <p>As bassists, our job is to outline the chord structure of the song. We often do so in a linear fashion (arpeggio),
          but should be able to hear and identify the chords... So perhaps we should learn some of those on bass. </p>
        <p>This can be done with 10 shapes: 5 of them
          <i>Open Voiced</i> and 5
          <i>Closed Voice</i>.</p>
        <p class="lead">The 10 Shapes - Open and Closed Voice</p>
        <p>
          <strong>"Closed Voiced"</strong> simply indicates that your fingering structure will remain within a single Octive... Or
          not ranging outside of the 14 notes that start with and include the Root note.</p>
        <p>
          <strong>"Open Voiced"</strong> means that you will definately be landing a finger on a note that is outside of notes of
          the Root note's octive. You should assume you will be stretching over all 4 strings.</p>

      </div>
    </div>
  </div>
  <div class="col">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="open-tab" data-toggle="tab" href="#open" role="tab" aria-controls="open" aria-selected="true">
          <i class="fas fa-circle-notch"></i> Open Voiced Chords</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="closed-tab" data-toggle="tab" href="#closed" role="tab" aria-controls="closed" aria-selected="false">
          <i class="far fa-circle"></i> Closed Voice Chords</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="cguide-tab" data-toggle="tab" href="#cguide" role="tab" aria-controls="cguide" aria-selected="false">
          <i class="fa fa-question"></i> How To Read These</a>
      </li>

    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="open" role="tabpanel" aria-labelledby="open-tab" style="border: 1px solid #dee2e6;  background-color: #fff; border-top:0px;">
        <div class="col">
          <p>
            <strong>Open Voiced Chords </strong> -
            <i>Beyond A Single Octive</i>
          </p>
        </div>
        <app-chord-voices [inputVoices]="openVoice"></app-chord-voices>
      </div>
      <div class="tab-pane" id="closed" role="tabpanel" aria-labelledby="closed-tab" style="border: 1px solid #dee2e6;  background-color: #fff; border-top:0px;">
        <div class="col">
          <p>
            <strong>Closed Voiced Chords </strong> -
            <i>Within A Single Octive</i>
          </p>
          <p>
            <i>* If you don't see any colored notes on the fretboards below, scroll farther up the neck. These C chords start
              after the 12th fret.</i>
          </p>
        </div>
        <app-chord-voices [inputVoices]="closedVoice"></app-chord-voices>
      </div>

      <div class="tab-pane" id="cguide" role="tabpanel" aria-labelledby="cguide-tab" style="border: 1px solid #dee2e6;  background-color: #fff; border-top:0px;">
        <div class="col">
          <h5>Color Legend</h5>

          <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
            <div class="bg-dark mr-md-3 pt-2 px-2 pt-md-2 px-md-5 text-center text-white overflow-hidden">
              <div class="my-1 py-1">
                <h4 class="display-6">White: 1st Finger</h4>
                <button class='btn btn-light' type="button">&nbsp; &nbsp;
                  <span class="badge badge-pill badge-dark">1</span>
                </button>
              </div>
            </div>

            <div class="bg-dark mr-md-3 pt-2 px-2 pt-md-2 px-md-5 text-center text-white overflow-hidden">
              <div class="my-1 py-1">
                <h4 class="display-5">BLUE: 2nd Finger</h4>
                <button class='btn btn-info' type="button">&nbsp; &nbsp;
                  <span class="badge badge-pill badge-dark">2</span>
                </button>
              </div>


            </div>

            <div class="bg-dark mr-md-3 pt-2 px-2 pt-md-2 px-md-5 text-center text-white overflow-hidden">
              <div class="my-1 py-1">
                <h4 class="display-5">GREEN: 3rd Finger</h4>
                <button class='btn btn-success' type="button">&nbsp; &nbsp;
                  <span class="badge badge-pill badge-dark">3</span>
                </button>
              </div>

            </div>

            <div class="bg-dark mr-md-3 pt-2 px-2 pt-md-2 px-md-5 text-center text-white overflow-hidden">
              <div class="my-1 py-1">
                <h4 class="display-5">YELLOW: 4th Finger</h4>
                <button class='btn btn-warning' type="button">&nbsp; &nbsp;
                  <span class="badge badge-pill badge-dark">4</span>
                </button>
              </div>

            </div>


          </div>

          <h5>Example</h5>
          This chord uses fingers 1, 2 and 4 to land on the 3rd, 1st (root) and 7th notes respectively (this is the C Major 7th Closed
          Voice chord).
          <table class="table table-responsive-sm table-dark table-sm text-center " id="legend" style="max-width: 300px; font-family: 'Times New Roman', Times, serif;">
            <tbody>
              <tr>

                <td style="border-right-width: 1px; border-right-style: solid; border-right-color: goldenrod;">
                  <button class="btn btn-dark" style="min-width: 50px;" type="button">&nbsp;</button>
                </td>
                <td style="border-right-width: 1px; border-right-style: solid; border-right-color: goldenrod;">
                  <button class="btn btn-dark" style="min-width: 50px;" type="button">&nbsp;</button>
                </td>
                <td style="border-right-width: 1px; border-right-style: solid; border-right-color: goldenrod;">
                  <button class="btn btn-dark" style="min-width: 50px;" type="button">&nbsp;</button>
                </td>
                <td style="border-right-width: 1px; border-right-style: solid; border-right-color: goldenrod;">
                  <button class="btn btn-warning" style="min-width: 50px;" type="button">VII &nbsp;
                    <span class="badge badge-dark">4</span>
                  </button>
                </td>
              </tr>
              <tr>

                <td style="border-right-width: 1px; border-right-style: solid; border-right-color: goldenrod;">
                  <button class="btn btn-dark" style="min-width: 50px;" type="button">&nbsp;</button>
                </td>
                <td style="border-right-width: 1px; border-right-style: solid; border-right-color: goldenrod;">
                  <button class="btn btn-light" style="min-width: 50px;" type="button">III
                    <span class="badge badge-dark" ng-reflect-ng-class="badge badge-light">1</span>
                  </button>
                </td>
                <td style="border-right-width: 1px; border-right-style: solid; border-right-color: goldenrod;">
                  <button class="btn btn-dark" style="min-width: 50px;" type="button">&nbsp;</button>
                </td>
                <td style="border-right-width: 1px; border-right-style: solid; border-right-color: goldenrod;">
                  <button class="btn btn-dark" style="min-width: 50px;" type="button">&nbsp;</button>
                </td>
              </tr>
              <tr>

                <td style="border-right-width: 1px; border-right-style: solid; border-right-color: goldenrod;">
                  <button class="btn btn-dark" style="min-width: 50px;" type="button">&nbsp;</button>
                </td>
                <td style="border-right-width: 1px; border-right-style: solid; border-right-color: goldenrod;">
                  <button class="btn btn-dark" style="min-width: 50px;" type="button">&nbsp;</button>
                </td>
                <td style="border-right-width: 1px; border-right-style: solid; border-right-color: goldenrod;">
                  <button class="btn btn-info" style="min-width: 50px;" type="button">R &nbsp;
                    <span class="badge badge-dark">2</span>
                  </button>
                </td>
                <td style="border-right-width: 1px; border-right-style: solid; border-right-color: goldenrod;">
                  <button class="btn btn-dark" style="min-width: 50px;" type="button">&nbsp;</button>
                </td>
              </tr>
            </tbody>
          </table>


          <h5>The Notes</h5>
          <p>
            <strong>'R'</strong> ... This indicates the Root note (will be 'C' if the chord is C (major|minor|dominant))</p>
          <p>
            <strong>Roman Numerals</strong> ... These indicate the progression number (III is the 3rd, IV the 4th, V the 5th, etc)..
          </p>
          <p>
            <strong>
              <i>Flattened</i> Roman Numerals</strong> ... Those which are flattened have a 'b' appending them (e.g. bIII is
            a flattened 3rd)</p>

        </div>
      </div>

    </div>
  </div>
</div>