<div class="row">

    <div class="col">
        
          <h4>Color Guide</h4>
        
        <p>WHITE = 1st Finger <button class='btn btn-light' type="button">1st Finger <span class="badge badge-pill badge-dark">1</span></button></p>
        <p>BLUE = 2nd Finger <button class='btn btn-info' type="button">2nd Finger <span class="badge badge-pill badge-dark">2</span></button></p>
        <p>GREEN = 3rd Finger <button class='btn btn-success' type="button">3rd Finger <span class="badge badge-pill badge-dark">3</span></button></p>
        <p>YELLOW = 4th Finger <button class='btn btn-warning' type="button">4th Finger <span class="badge badge-pill badge-dark">4</span></button></p>
      <p>The suggested finger to use is also indicated as a darkened number (4th finger is <span class="badge badge-pill badge-dark">4</span>)</p>
      </div>
      <div class="col">
            <h4>The Notes</h4>
          <p>'R' ... This indicates the Root note (will be 'C' if the chord is C (major|minor|dominant))</p>
          <p>Roman Numerals ... These indicate the progression number (III is the 3rd, IV the 4th, V the 5th, etc).. </p>
          <p>Flattened Roman Numerals ... Those which are flattened have a 'b' appending them (e.g. bIII is a flattened 3rd)</p>
          
        </div>
</div>



<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="open-tab" data-toggle="tab" href="#open" role="tab" aria-controls="open" aria-selected="true">Open Voiced Chords</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="closed-tab" data-toggle="tab" href="#closed" role="tab" aria-controls="closed" aria-selected="false">Closed Voice Chords</a>
    </li>

  </ul>
  
  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active" id="open" role="tabpanel" aria-labelledby="open-tab">
      
        <p>
            <strong>Open Voiced Chords </strong> -
            <i>Beyond A Single Octive</i>
          </p>
        
        
          <div class="col" *ngFor="let voice of openVoice">
              <p>
                  <strong>
                    <i>{{voice.name}}</i>
                  </strong>
                </p>  
                <div class="table-responsive">
                    <table class="table table-dark table-sm text-center">
                        <thead>
                          <tr>
                            <th scope="col" *ngFor="let m of fretboard.markers; let i=index">
                              <app-fretboard-marker [m]="m" [i]="i"></app-fretboard-marker>
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let str of p.filterStrings(fretboard.strings, 4).reverse()">
                  
                            <td *ngFor="let note of str.notes; index as n; first as isFirst" style="border-right-style: ridge; border-right-color:darkgoldenrod;" [ngStyle]="{'border-right-width':n==0 ? '8px': '3px'}">
                                        
                              <ng-container *ngIf="isFirst; then openStringTemplate; else notOpenStrTemplate"> </ng-container>
                              <ng-template #openStringTemplate>
                                <button type="button" style="min-width: 50px;" class="btn btn-dark">
                                  {{str.open}}
                                </button>
                              </ng-template>
                              <ng-template #notOpenStrTemplate>
                               
                                <ng-container *ngIf="isChordNote(voice, str.open, n); then isChordNoteTemplate; else notChordNoteTemplate"></ng-container>
                                <ng-template #isChordNoteTemplate>
                                 <input type="hidden" ng-model="let cb = getChordBlock(voice, str.open, n)">
                                    <button  
                                      type="button" style="min-width: 50px;" class="btn " 
                                      [ngClass]="getChordBlockClass(getChordBlock(voice, str.open, n))">
                                        <span >{{getChordBlock(voice, str.open, n).note}}
                                          <span class="badge badge-pill badge-dark">{{getChordBlock(voice, str.open, n).finger}}</span>
                                        </span>
                                      </button>
                                </ng-template>
                                <ng-template #notChordNoteTemplate>
                                   
                                    <button type="button" style="min-width: 50px;" 
                                    class="btn btn-dark">&nbsp;</button> 
                                </ng-template>
                              </ng-template>
                              
                            </td>
                          </tr>
                        </tbody>
                        <tfoot>
                          <tr>
                            <th scope="col" *ngFor="let m of fretboard.markers; let i=index">
                              <app-fretboard-marker [m]="m" [i]="i"></app-fretboard-marker>
                            </th>
                          </tr>
                        </tfoot>
                      </table>
                </div>
          </div>
          
    </div>
    <div class="tab-pane" id="closed" role="tabpanel" aria-labelledby="closed-tab">
      
        <p>
            <strong>Closed Voiced Chords </strong> -
            <i>Within A Single Octive</i>
          </p>
        
    
          <div class="col" *ngFor="let voice of closedVoice">
              <p>
                  <strong>
                    <i>{{voice.name}}</i>
                  </strong>
                </p>  
                <div class="table-responsive">
                    <table class="table table-dark table-sm text-center">
                        <thead>
                          <tr>
                            <th scope="col" *ngFor="let m of fretboard.markers; let i=index">
                              <app-fretboard-marker [m]="m" [i]="i"></app-fretboard-marker>
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let str of p.filterStrings(fretboard.strings, 4).reverse()">
                  
                            <td *ngFor="let note of str.notes; index as n; first as isFirst" style="border-right-style: ridge; border-right-color:darkgoldenrod;" [ngStyle]="{'border-right-width':n==0 ? '8px': '3px'}">
                                        
                              <ng-container *ngIf="isFirst; then openStringTemplate; else notOpenStrTemplate"> </ng-container>
                              <ng-template #openStringTemplate>
                                <button type="button" style="min-width: 50px;" class="btn btn-dark">
                                  {{str.open}}
                                </button>
                              </ng-template>
                              <ng-template #notOpenStrTemplate>
                               
                                <ng-container *ngIf="isChordNote(voice, str.open, n); then isChordNoteTemplate; else notChordNoteTemplate"></ng-container>
                                <ng-template #isChordNoteTemplate>
                                 <input type="hidden" ng-model="let cb = getChordBlock(voice, str.open, n)">
                                    <button  
                                      type="button" style="min-width: 50px;" class="btn " 
                                      [ngClass]="getChordBlockClass(getChordBlock(voice, str.open, n))">
                                        <span >{{getChordBlock(voice, str.open, n).note}} 
                                          <span class="badge badge-pill badge-dark">{{getChordBlock(voice, str.open, n).finger}}</span>
                                        </span>
                                      </button>
                                </ng-template>
                                <ng-template #notChordNoteTemplate>
                                   
                                    <button type="button" style="min-width: 50px;" 
                                    class="btn btn-dark">&nbsp;</button> 
                                </ng-template>
                              </ng-template>
                              
                            </td>
                          </tr>
                        </tbody>
                        <tfoot>
                          <tr>
                            <th scope="col" *ngFor="let m of fretboard.markers; let i=index">
                              <app-fretboard-marker [m]="m" [i]="i"></app-fretboard-marker>
                            </th>
                          </tr>
                        </tfoot>
                      </table>
                </div>
          </div>

    </div>
  </div>


<!-- 
<div class="row d-none">template
  <div class="table-responsive">
    <table class="table table-dark table-sm text-center">
      <thead>
        <tr>
          <th scope="col" *ngFor="let m of fretboard.markers; let i=index">
            <app-fretboard-marker [m]="m" [i]="i"></app-fretboard-marker>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let str of p.filterStrings(fretboard.strings, 4).reverse()">
          <td *ngFor="let note of str.notes; let n = index" style="border-right-style: ridge; border-right-color:darkgoldenrod;" [ngStyle]="{'border-right-width':i==0 ? '8px': '3px'}">
          
            <button type="button" style="min-width: 50px;" class="btn btn-dark">
              <span *ngIf="n==0">{{str.open}}</span>
              <span *ngIf="n>0">&nbsp;</span>
           
            </button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th scope="col" *ngFor="let m of fretboard.markers; let i=index">
            <app-fretboard-marker [m]="m" [i]="i"></app-fretboard-marker>
          </th>
        </tr>
      </tfoot>
    </table>
  </div>
</div> -->