<div class="row">
  <div class="col-12">
    <h2 class="display-5">{{title}}</h2>
    <p class="lead">{{ subTitle }}</p>

  </div>
</div>

<!--SCALES BELOW-->
<div class="row">


  <!-- begin dynamic SCALES -->
  <div class="col-sm" *ngFor="let scale of TheScales">
    <label [for]="scale.name">
      <strong>{{scale.name}} Scale</strong>
    </label>
    <table class="table table-dark table-sm text-center scale-table" [id]="scale.name">
      <tr *ngFor="let row of scale.blocks">
        <td *ngFor="let cell of row">
          <button type="button" class="btn" [ngClass]="{ 'btn-dark': !cell.isScale, 'btn-outline-danger': cell.isRoot, 'btn-outline-secondary': cell.isScale && !cell.isRoot }">
            <!-- begin badge or no-badge -->
            <span *ngIf="cell.isScale" class="badge" [ngClass]="{'badge-danger': cell.isRoot, 'badge-secondary':cell.isScale}">{{cell.finger}}</span>
            <span *ngIf="!cell.isScale">&nbsp;</span>
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="col">
  <h3>Additional Tips:</h3>
  <p>It doesn't matter which actual 'note' you start on, it only matters that you have frets to land on for each of the numbers
    positions. It DOES matter that your bass is tuned to the standard EADG, or for 5 strings to BEADG</p>
  <p>It also doesn't matter if you start at the top or the bottom; just remember to start on a red location, and if it's at
    the bottom, go from left-to-right reading upwards. If starting at the top, go from right-to-left, reading downward.</p>
  </div></div>